<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> </title>
    <link ref="icon" href="#" type="image/x-icon">
    <style>
        body {
            position: fixed;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;

            background: black;

            -moz-user-select: none;
            -webkit-user-select: none;
        }

        .content {
            position: fixed;
            top: calc(50% - 128px);
            height: 256px;
            width: 100%;
            text-align: center;

            color: white;
        }
    </style>
</head>
<body>
<div unselectable="on" onselectstart="return false;" class="content">
    <h1>Welcome to the void</h1>
    <h1>ボイドへようこそ</h1>
    <h1>欢迎来到虚空</h1>
</div>
</body>
</html>
